<a href="https://colab.research.google.com/github/MartinUlima99/Pandas/blob/main/PandasPokemonApp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#loading data in pandas
import pandas as pd

df = pd.read_csv("/content/pokemon_data.csv")
#df_xlsx = pd.read_excel("/content/pokemon_data.xlsx")
#df_txt = pd.read_csv("/content/pokemon_data.txt",delimiter="\t")
#df
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [ ]:
#read headers
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [ ]:
#read each column
#df['Name'][0:5]
#get multiple columns
df[['Name','Type 1', 'Generation','Legendary']][0:4]

                    Name Type 1  Generation  Legendary
0              Bulbasaur  Grass           1      False
1                Ivysaur  Grass           1      False
2               Venusaur  Grass           1      False
3  VenusaurMega Venusaur  Grass           1      False

In [ ]:
##read each specific raw
#df.iloc[9]
#get multiple rows
#df.iloc[4:9]
#read specific location (R,C)
df.iloc[2,3]
for x in range(0,9):
  print(df.iloc[x,2])

Grass
Grass
Grass
Grass
Fire
Fire
Fire
Fire
Fire

In [ ]:
#iterate throught rows
for index,row in df.iterrows():
  print(index,row['Name'])

In [ ]:
#loc
df.loc[ (df['Type 1'] == "Grass") &  (df['Attack'] > 90)]
#df.loc[df['Legendary'] == True]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
111,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False
298,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False
310,286,Breloom,Grass,Fighting,60,130,80,60,60,70,3,False
363,332,Cacturne,Grass,Dark,70,115,60,115,60,55,3,False
434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False
505,455,Carnivine,Grass,NaN,74,100,72,90,72,46,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
516,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False
521,470,Leafeon,Grass,NaN,65,110,130,60,65,95,4,False
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True
571,512,Simisage,Grass,NaN,75,98,63,98,63,101,5,False
659,598,Ferrothorn,Grass,Steel,74,94,131,54,116,20,5,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [ ]:
import pandas as pd

# crear dataframe de ejemplo
data = {'Nombre': ['Bulbasaur', 'Charizard', 'Pikachu', 'Squirtle', 'Snorlax'],
        'Tipo': ['Grass', 'Fire', 'Electric', 'Water', 'Normal'],
        'Ataque': [49, 84, 55, 48, 110]}

pokemon_df = pd.DataFrame(data)

# filtrar dataframe usando loc y dos condiciones
poke_filtrado = pokemon_df.loc[(pokemon_df['Tipo'] == 'Grass') & (pokemon_df['Ataque'] > 90)]

# imprimir resultado
print(poke_filtrado)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
#DESCRIBING DATA
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [ ]:
#sort
#df.sort_values('Name',ascending = False)
#df.sort_values(['Name',"Type 1"],ascending = [True,False])[0:5]
df.sort_values(['Name',"Type 1"],ascending = [1,0])[0:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False

In [ ]:
#find which pokemon in the best
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [ ]:
#max(df['Total'])
x = df['Total'] == df['Total'].max()
df[x]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780

In [ ]:
#drop columns
temp = df.drop(columns = ['#','Total'])
temp

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
#otra manera de sumar
#columnas se cuenta desde 0
#tener en cuenta que debe ir hasta 9 porque la 9 es la que no se incluye, si pongo una menos no tomará la 8
temp['Total'] = temp.iloc[:,3:9].sum(axis = 1)
temp

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [ ]:
cols = list(df.columns.values)
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [ ]:
#reorder columns
#df = df[['Total','HP','Defense']]
#x = df[cols[0:4] + cols[-1] + cols[4:12]]
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]#cols[-1] al estar sola es un str, por eso la tengo que volver list
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
#save as csv
df.to_csv('modified.csv',index=False)
df.to_excel('modified.xlsx',index=False)
#separate by tabs or commas
df.to_csv('modified.txt',index=False,sep='\t')

In [ ]:
#Filtering Data
#df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]
temp = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
#reset index
#debido a que esto guarda el index antiguo, tengo que usar drop
#temp = temp.reset_index()
temp = temp.reset_index(drop=True)
temp

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [ ]:
print(df['Type 1'].unique())

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

In [ ]:
#eliminate pokemons who has "mega" name
filter3 = df.loc[df['Name'].str.contains('Mega')]
#filter3 = df.loc[~df['Name'].str.contains('Mega')] no contain

filter3

In [ ]:
from pandas.core import flags
#regex
import re
#df.loc[df['Type 1'].str.contains('Fire|Grass',regex=True)]
#df.loc[df['Type 1'].str.contains('fire|grass',flags=re.I,regex=True)]#capital letters
#df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]#capital letters
df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]#capital letters

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

In [ ]:
#condiniontal changes
#df.loc[df['Type 1'] == 'Fire','Type 1'] = 'Flamer'
#df.loc[df['Type 1'] == 'Fire','Legendary'] = True
df.loc[df['Total'] > 500, ['Generation','Legendary']] = 'test'

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True

In [ ]:
#group by
#df.groupby(['Type 1']).sum()
df.groupby(['Type 1']).count()
#df.groupby(['Type 1','Type 2']).count()
#df.groupby(['Type 1']).mean().sort_values('Attack',ascending = False)

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112